<div class="global-container">
    <div class="container">
        <div class="header">
            <div class="foto floated">
                <img src="../assets/images/yo4.jpg" alt="este soy yo :)">
            </div>
            <div class="nombre">
                <h1>Sebastián Abascal<span>Desarrollador web</span></h1>
            </div>
            <ul class="personal-info">        
                <li class="p-info phone">
                    <i class="fas fa-mobile-alt"></i>
                    <span>+34 695 85 45 01</span>
                </li>
                <li class="p-info email">
                    <i class="fas fa-envelope"></i>
                    <span>sebastianabascal@gmail.com</span>
                </li>
                <li class="p-info address">
                    <i class="fas fa-map-marker-alt"></i>
                    <span>C/ Rosario de Acuña - 39008 Santander</span>
                </li>
                <li class="p-info bdate">
                    <i class="fas fa-birthday-cake"></i>
                    <span>10/12/98</span>
                </li>
            </ul>
        </div>
      </div>
</div>