// INDEX

// IMPORT
@import "../styles.scss";

.global-container {
    width: 100%;
    height: 100%;
}

// CONTAINER
.container {
    width: 70.8vh;
    height: 100vh;
    max-width: 100%;
    max-height: 141.7vw;
    // background-color: $bg;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-areas: "header header"
    "profile data";
    grid-template-rows: 28.75vh auto;
    grid-template-columns: 34% auto;
    /* stuff inside */
    color: white;
}

.container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../assets/images/CV_SesbastianAbascal2.png);
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
    opacity: .5;
    // opacity: 1;
    z-index: -1;
    // z-index: 4;
    grid-column: span 2;
    grid-row: span 2;
}

// HEADER
.header {
    grid-area: header;
    display: grid;
    grid-template-areas: "foto nombre"
    "foto info";
    grid-template-columns: 35% auto;
}

// photo
.foto {
    grid-area: foto;
    margin: auto 0 auto 2.1rem;
    width: 9.3rem;
    height: 9.3rem;
    border-radius: 50%;
    border: .4rem solid $color1;
    overflow: hidden;
    box-sizing: content-box;

    img {
        width: 100%;
        height: auto;
        top: 50%;
        transform: translateY(-50%);
        position: relative;
        display: block;
    }
}

// name
.nombre {
    padding-top: 3.1rem;
    padding-left: .8rem;
    grid-area: nombre;

    h1 {
        font-size: 1.1rem;
    }
    
    h1 span {
        display: block;
        font-weight: normal;
        margin-left: .1rem;
        color: $color2;
    }
}

// personal info
.personal-info {
    grid-area: info;
    list-style-type: none;
}

.p-info {
    padding: .1rem;
    display: flex;
    color: $color2;

    svg {
        background-color: $color1;
        padding: .2rem .4rem;
        border-radius: 50%;
        box-sizing: content-box;
        color: black;
    }

    span {
        display: inline-block;
        padding-left: .5rem;
        align-self: center;
    }
}

.p-info:hover {
    svg {
        color: white;
        cursor: pointer;
    }
}

.phone {
    transform: translate(-3.5%, -5%);

    svg {
        padding: .4rem .45rem .4rem .5rem;
    }
}

.email {
    transform: translateX(-5%);

    svg {
        padding: .3rem .4rem;
    }
}

.address {
    transform: translate(-8%, -2%);

    svg {
        padding: .4rem .5rem;
    }
}

.bdate {
    transform: translate(-12%, -10%);

    svg {
        padding: .4rem .5rem;
    }
}

// PROFILE

// DATA

// MEDIAS
@media only screen and (min-width: $bp-tablet){

}